<div class="center hero-unit">    
    <h1>Welcome to Mzansi Mixtapes</h1>
    
    <h2>Download all the freshest and hottest mixtapes from the streets of Mzansi, or upload your own.</h2>
    
    <%= link_to "Sign up now!","#", class: "btn btn-large btn-primary" %>
</div>
  
